#main-app {
  width: 100%;
  height: 100%;
  margin: 0px;
  background-color: #996855;
  display: block;
}

#heading-area {
  font-family: monospace;
  font-size: 40px;
  width: 100%;
  color: white;
  text-align: center;
  line-height: 1;
}

#heading {
  padding-top: 0.5em;
}

#transport-control-buttons {
  width: 50%;
  margin: auto;
  align-content: center;
  justify-content: center;
  display: flex;
}

#music-grid {
  height: 50%;
}

#footer {
  height: auto;
}

.transport-button-svg {
  width: 130;
  height: 130;
  padding: 4px;
  background-color: transparent;
  border: none;
  outline: none;
}

.transport-button-outline {
  x: 2;
  y: 2;
  width: 118;
  height: 118;
  rx: 15;
  ry: 15;
  stroke: white;
  stroke-width: 4px;
  fill: transparent;
}

.transport-button-svg:active .transport-button-outline {
  fill: white;
}

.button-decal {
  fill: none;
  stroke: white;
  stroke-width: 4px;
}

.transport-button-svg:active .button-decal {
  fill: #996855;
}

#play-button {

}
